<ion-view title="Zilyo">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
  <ion-content class="has-header">
    <h1 class="single-heading">{{data.heading}}</h1>
    <h4 class="single-address">{{data.address.all}}</h4>
    <div class="single-images">
    	<img src="../img/foo.jpg" />
    </div>
    <p class="single-description">{{data.description}}</p>
    <div class="single-map">
			<!-- COMING SOON -->
    </div>
    <button class="button button-block button-positive single-bookon">
    	<a href="{{data.link}}">${{data.price}} on "{{data.provider}}.png"</a>
    </button>
    <!-- {{data}} -->
  </ion-content>
</ion-view>
