<ion-view title="Playlists">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <div ng-repeat="item in items" class="item listItem" id="{{item.pid}}" style="background: url({{item.photos[0].url}}); background-size: 100%" href="#/app/playlists/{{item.pid}}">
        <div class="bottom">
          <div class="left">
            <h2>{{item.heading}}</h2>
            <h3>{{item.roomType.text}} &middot; {{item.address.city}}</h3>
          </div>
          <div class="right">
            <h1>{{item.price}}</h1>
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
