/* Empty. Add your own CSS if you like */
#main {
	background: url('../img/backgrounds/accommodations_back@2x.png');
	background-size: 100%;
}

.title>img {
	top: 0;
	bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	height: 80%;
}

#search {
	width: 90%;
	height: 250px;

	padding: 10px;

	position: absolute;
	top: 100px;
	left: 5%;
	
	background: #ffffff;
}
#list>.list {
	height: 200px;
}
#list>.list>a {
	padding: 0;
}
.listItem {
	width: 100%;
	height: 200px;

	background-size: cover !important; 
	background-position: 50%;

	padding: 0;
	border: 0;
	margin: -1px 0px;
}


.bottom {
	position: absolute;
	background: rgba(0,54,99, .8);
	color: white;
	bottom: 0;
	width: 100%;
	height: 50px;
}

.bottom h1,h2,h3 {
	color: white;
}

.price {
	font-size: 14px;
	vertical-align: top;
}

.left, .right {
	position: absolute;
	padding: 5px;
	color: #fff;
}

.left {
	width: 75%;
	left: 0;
}

.right {
	text-align: right;
	right: 0;
}

#single p,a,h1,h2,h3,h4 {
	padding: 0px 5px;
}

.single-images {
	width: 100%;
	height: 200px;

	background-size: cover !important; 
	background-position: 50%;
}

.single-description {
	text-align: justify;
}

.single-bookon>a {
	color: #fff;
	text-decoration: none;
}